/* GENERAL */

:root{
  --color-primary: #ff7315;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
  background-color: black;
  overflow: hidden;
}

/* SECTION 1 */

.section01{
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  min-height: 100vh;
}

.section01 p{
  text-shadow: 100mil milpx;
  color: var(--color-primary);
  text-align: center;
  font-size: 2vw;
}

.section01__picture01{
  background-image: url("../img/173 edit_1.jpg");
  background-size: auto 110%;
  background-position: center;
}
.section01__picture02{
  background-image: url("../img/MLV_0191 edit_1.jpg");
  background-size: auto 110%;
  background-position: center;
}
.section01__picture03{
  background-image: url("../img/20200812_181734 edit.jpg");
  background-size: auto 110%;
  background-position: center;
}

.section01__animation{
  cursor: pointer;
  filter: saturate(0) blur(0px);
  transition-duration: 0.5s;
}
.section01__animation:hover{
  filter: saturate(1) blur(0px);
}
