* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-weight: 300;
  text-align: center;
}

html {
  overflow-y: overlay;
  margin: 3em;
}

verticalSection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 5em;
}

horizontalSection {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 5em;
}

horizontalSection section {
  padding: 0 2em;
}

hr {
  width: 25%;
  margin-top: 1.5em;
  margin-bottom: 2em;
  display: inline-flex;

  border-width: 0.01em;
  border-color: black;
  background-color: black;
  border-style: solid;
}

.border {
  border-style: solid;
  border-radius: .5em;
}

.breath {
  padding: 3em;
}

.smallGap {
  row-gap: 1em;
}

/* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10), (max-width: 1030px) {
  html {
    margin: 2em;
  }

  horizontalSection {
    row-gap: 3em;
  }

  verticalSection {
    row-gap: 3em;
  }

  .border {
    border-style: solid;
    border-radius: .15em;
  }

  .breath {
    padding: 2em;
  }

  .smallGap {
    row-gap: 2em;
  }
}