a {
    text-decoration: none;
    color: #00a9c7;
}

a:hover {
    opacity: 85%;
}

p {
    font-size: 1.5em;
}

.title {
    font-weight: 400;
    font-size: 2em;
    margin-bottom: .3em;
}

.verticalSectionTitle {
    font-size: 2.5em;
    margin-bottom: .8em;
}

.left p {
    text-align: left;
}

.right p {
    text-align: right;
}

g {
    color: #00a9c7;
}

/* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10), (max-width: 1030px) {

    p {
        font-size: 1em;
    }

    .title {
        font-size: 1.5em;
    }

    .verticalSectionTitle {
        font-size: 1.8em;
    }
}