a {
    text-decoration: none;
    color: #ddd000;
}

a:hover {
    opacity: 85%;
}

p {
    font-size: 1.5em;
}

.title {
    font-weight: 400;

    font-size: 2em;
    margin-bottom: .1em;
}

.textSection {
    margin-top: 0;
    margin-bottom: 5em;
    margin-left: 3em;
    margin-right: 3em;
}

.textLine {
    margin-bottom: 2em;
}

.textSmallLine {
    font-size: 1em;
    margin-bottom: 2em;
}

.verticalSectionTitle {
    margin-bottom: -1em;
    font-size: 3em;
}

.left p {
    text-align: left;
}

.right p {
    text-align: right;
}

g {
    color: #ddd000;
}

/* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10), (max-width: 1030px) {

    p {
        font-size: 1em;
    }

    .title {
        font-size: 1.5em;
    }

    .textSection {
        margin-bottom: 3em;
    }

    .textLine {
        margin-bottom: 1em;
    }

    .textSmallLine {
        font-size: 0.5em;
        margin-bottom: 1em;
    }

    .verticalSectionTitle {
        margin-bottom: -1em;
        font-size: 2em;
    }
}