html {
    margin: 3em 9em;
}

.cvImg {
    width: 30em;

    border-style: solid;
    border-radius: 1em;
    border-width: 0.15em;
}

horizontalSection {
    padding: 3em;
    align-items: flex-start;
}

horizontalSection section {
    padding: 0 1em;
}

.titleAndText {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#element {
    display: flex;
    flex-direction: column;
    width: 6em;
}

.starImg {
    height: .8em;
    padding-bottom: .3em;
}

.programImg {
    height: 3em;
    border-radius: .5em;
}

.programTitle {
    font-size: .8em;
}

/* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10), (max-width: 1030px) {

    html {
        margin: 2em 2em;
    }

    horizontalSection {
        row-gap: 2em;
    }

    .cvImg {
        width: 15em;

        border-radius: .5em;
        border-width: 0.1em;
    }

    .starImg {
        height: .5em;
    }

    .programImg {
        height: 2em;
        border-radius: .25em;
    }

    .programTitle {
        font-size: .8em;
    }
}