.cvImg {
    width: 30em;

    border-style: solid;
    border-radius: 1em;
    border-width: 0.15em;
}

horizontalSection {
    padding: 3em;
    
}

#element p {
    font-size: 1em;
    min-width: 10em;
}

.stars {
    padding-bottom: .3em;
}

.starImg {
    height: 1em;
}

.programImg {
    height: 4em;
    border-radius: .5em;
}

hr {
    width: 50vh;
    display: inline-flex;
    border-width: .01em;
    border-style: solid;
    background-color: black;
}

/* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10), (max-width: 1030px) {

    .cvImg {
        width: 15em;

        border-radius: .5em;
        border-width: 0.1em;
    }

    horizontalSection {
        padding: 2em;
    }
}