  .pack {
    display: inline-block;
    vertical-align: middle;
    height: 30em;
    margin: 3em 3em;
  }

  p {
    font-size: 1.25em;
  }

  .img {
    border-radius: .5em;
    object-fit: cover;

    max-height: 100%;
    max-width: 100%;
    height: 30em;
    width: 20em;
  }

  /* PORTRAIT MODE */
  @media (max-aspect-ratio: 9/10), (max-width: 1030px) {

    .pack {
      margin-top: 0;
      margin-bottom: 0;
    }

    .img-holder {
      margin: 1em 0;
    }

    .img {
      height: 25em;
    }
  }