* {
  margin: 0;
  margin: 0;
  font-family: 'Poppins';
  font-weight: 300;
  text-decoration: none;
  scrollbar-gutter: stable both-edges;
}

a:hover {
  opacity: 90%;
}

html {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
}

header {
  margin-bottom: 3em;
}

.header-logo-holder {
  display: grid;
  justify-content: center;
  align-content: center;
  margin-bottom: 2em;
}

.header-logo {
  max-width: 4em;
}

nav {
  display: grid;
  justify-content: center;
  align-content: center;

  gap: 5em;
  grid-auto-flow: column;
}

.header-text {
  font-size: 2em;
  color: black;
}

.title {
  text-align: center;
  font-weight: 400;
  margin-top: 2em;
  font-size: 2em;
}

/* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10), (max-width: 1030) {

  html {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 0em;
    padding-right: 0em;
  }

  header {
    text-align: center;
    margin-bottom: 2em;
  }

  .header-logo-holder {
    margin-bottom: 1em;
  }

  nav {
    grid-auto-flow: row;
    gap: 0;
  }
}