* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    font-weight: 300;
    text-decoration: none;
    scrollbar-gutter: stable both-edges;
  }
  
  a:hover {
    opacity: 90%;
  }
  
  header {
      padding-top: 3em;
      padding-bottom: 5em;
  }
  
  .header-logo-holder {
    display: grid;
    justify-content: center;
    align-content: center;
    margin-bottom: 2em;
  }
  
  .header-logo {
    max-width: 4em;
  }
  
  nav {
    display: grid;
    justify-content: center;
    align-content: center;
  
    gap: 5em;
    grid-auto-flow: column;
  }
  
  .header-text {
    font-size: 2em;
    color: black;
  }

  .title {
    text-align: center;
    font-weight: 400;
    padding-top: 2em;
    font-size: 2em;
  }

  /* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10), (max-width: 600px) {

    header {
      text-align: center;
      padding-bottom: 1em;
    }
  
    nav {
      grid-auto-flow: row;
      gap: 0;
    }
}