header {
  margin-bottom: 5em;
}

.gallery {
  text-align: center;
}

.pack {
  display: inline-block;
  margin: 1em 3em;
}

.img {
  border-radius: .5em;
  object-fit: cover;

  max-height: 100%;
  max-width: 100%;
  height: 35em;
  width: 20em;
}

/* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10), (max-width: 1030px) {
  header {
    margin-bottom: 1em;
  }

  .img {
    height: 25em;
  }
}

@media (max-height: 900px) {
  .img {
    height: 25em;
  }
}