.gallery {
  display: flexbox;
  text-align: center;
  margin: 0 2em;
  margin-bottom: 2em;
}

.pack {
  display: inline-block;
  margin: 1em 3em;
}

.img {
  border-radius: .5em;
  object-fit: cover;
  max-height: 100%;
  height: 35em;
  max-width: 100%;
  width: 20em;
}

/* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10), (max-width: 600px) {
  .gallery {
    margin: 0 1em;
  }

  .pack {
    margin: 1em 0;
  }

  .img {
    height: 25em;
  }
}