* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
  font-weight: 300;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-logo {
  max-width: 5em;
  margin-top: 2em;
  margin-bottom: 1em;
}

.header-logo:hover {
  opacity: 90%;
}

.header-text {
  margin: 0 2.5em;
  font-size: 2em;
  color: black;
}

.header-text:hover {
  opacity: 75%;
}

.imgHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45em;
}

.img {
  height: 30vw;
  width: 20vw;
  border-radius: .5em;
  margin: 0 3.5em;
  object-fit: cover;
}

/* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10) {

  header {
    text-align: center;
    margin-bottom: 5vw;
  }

  .imgHolder {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    height: 35em;
  }

  .img {
    margin-bottom: 50%;
    height: 40vw;
    width: 70vw;
    border-radius: .5em;
    margin: 0 3.5em;
    object-fit: cover;
    object-position: 0 15%;
  }
}