@media (max-aspect-ratio: 9/8) { 
  
  /* SECTION 1 */
  
  .section01{
    display: grid;
    grid-template-rows: repeat(3, 33.33%);
    min-height: 100vh;
  }
  
  .section01 div {
    position: relative;
  }
  
  .section01 img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}