@media (max-aspect-ratio: 9/10) { 
  
  /* SECTION 1 */
  
  .section01{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    min-height: 100vh;
  }
  
  .section01 img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 15%;
  }

  .section01 p{
    color: var(--color-primary);
    font-size: 4vw;
  }

  .section01 img{
    filter: saturate(1) blur(5px);
  }

}