/* GENERAL */

:root{
  --text-color-accent: #15CAFF;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
  background-color: black;
  overflow: hidden;
}

/* UTILITIES */

.gallery{
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  min-height: 100vh;

  text-align: center;
  vertical-align: center;
}

.gallery div{
  filter:  saturate(0);
  transition: 0.5s ease;
}

.gallery div:hover{
  filter: blur(2px) saturate(1);
}

.bg1{
  background-image: url("../img/28 edit.JPG");
  background-size: cover;
  background-position: center;
}

.bg2{
  background-image: url("../img/MLV_0191 edit_1.jpg");
  background-size: cover;
  background-position: center;
}

.bg3{
  background-image: url("../img/20200812_181734 edit.jpg");
  background-size: cover;
  background-position: center;
}
