.cardImg {
    object-fit: cover;
    align-self: center;
    height: 30vh;

    border-style: solid;
    border-width: .15em;
    border-radius: 2em;
    border-color: black;
}

.cardImg:hover {
    border-color: white;
    content: url("/img/card/black card.png");
}

/* PORTRAIT MODE */
@media (max-aspect-ratio: 9/10), (max-width: 1030px) {

    .cardImg {
        height: 10em;

        border-width: .1em;
        border-radius: 1em;
    }
}