* {
  color: black;
}

body {
  border: 0.3vw solid black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.reverse {
  flex-direction: row-reverse;
}

.blood-image {
  position: absolute;
  max-width: 15vw;
  top: 0;
  right: 0;
  z-index: -1;
}

.picture-with-text {
  display: flex;
  align-items: center;
  margin: 5vw;
  gap: 3vw;
}

.picture-with-text .image {
}

.image {
  height: 30vw;
}

.text-container {
}

.title {
  font-size: 5vw;
  font-weight: 1000;
  line-height: 5vw;
  margin-bottom: 2vw;
}

p {
  font-weight: 600;
  font-size: 1vw;
}

.three-pictures-with-text {
  display: flex;
  justify-content: space-evenly;
}

.picture-above-text img {
  max-width: 25vw;
}

.picture-above-text p {
  max-width: 25vw;
  font-weight: 900;
  font-size: 3.5vw;
  line-height: 3.5vw;
}

/* SECTION-1 */

.section-1 .text-container {
  margin-left: 10vw;
}
/* SECTION-2 */
.section-2 .image {
  max-width: 50vw;
}
/* SECTION-3 */
.section-3 {
  align-items: flex-start;
  margin-bottom: -5vw;
}
.section-3 section {
  margin-top: -2em;
}
.section-3 img {
  max-width: 65.1vw;
  margin-left: -9.9vw;
}
/* SECTION-4 */
.section-4 {
  justify-content: space-between;
  margin-top: -5vw;
}
.section-4 img {
  max-width: 33vw;
}
.section-4 p {
  max-width: 45vw;
}
.section-4 .text-container {
  max-width: 50vw;
  justify-self: left;
}

.gramophone-with-text {
  display: flex;
  align-items: center;
  margin-top: 5vw;
  margin-bottom: 0;
}

.gramophone-with-text .image {
}

.gramophone-with-text .gif {
  width: 15vw;
  margin-left: -10vw;
  margin-top: -10vw;
}

.image {
  height: 30vw;
}

.text-container {
}

.gramophone-with-text .song {
  font-size: 5vw;
  font-weight: 1000;
  line-height: 5vw;
  margin-left: 5vw;
  margin-bottom: 0.5vw;
}

.gramophone-with-text .author {
  font-weight: 600;
  font-size: 2vw;
  margin-left: 5vw;
  margin-bottom: 0.5vw;
}

.gramophone-with-text .time {
  font-size: 3vw;
  font-weight: 1000;
  line-height: 3vw;
  margin-left: 5vw;
}

/* SECTION-1 */
.section-1 .text-container {
  margin-left: 10vw;
}

footer {
  margin: 0;
  height: 10vw;
}

footer .gif {
  height: 10vw;
}
