* {
  overflow: hidden;
}

body {
  background-image: url("../img/home/image-01.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: 100vw auto;

  border: 0.3vw solid white;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media (max-aspect-ratio: 1080/600) {
  body {
    background-size: auto 100vh;
  }
}

.hero-text {
  font-size: 10vw;
  position: absolute;
  bottom: 0.2em;
  left: 0.4em;
  line-height: 0.9em;
  z-index: -1;
}

.img-blood {
  position: absolute;
  width: 30vw;
  bottom: 0;
  left: 20vw;
  z-index: 0;
}

footer {
  position: absolute;
  text-align: right;
  background-color: rgba(255, 255, 255, 0);
  justify-content: right;
}

@media (min-width: 1000px) {
  /* header a:hover {
    color: rgba(245, 245, 220, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
  } */
}

@media (max-width: 1000px) {
  .hero-text {
    font-size: 5em;
  }
  .img-blood {
    width: 15em;
    left: 10em;
  }
}
